<p>
  <b>Name:</b>
  <%=h @client.name %>
</p>

<p>
  <b>Rate:</b>
  <%=h @client.rate %>
</p>

<p>
  <b>Comments:</b>
  <%=h @client.comments %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>