<div id="projects-list">
	
	

<h1>Listing projects</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Startdate</th>
    <th>Duedate</th>
    <th>Client</th>
    <th>Actions</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><a href="/projects/<%= project.url %>"><%=h project.title %></a></td>
    <td><%=h project.startdate %></td>
    <td><%=h project.duedate %></td>
    <td><%=h Client.find(project.client_id).name %></td>
    <td>
		<a href="/projects/archive/<%= project.url %>">Archive</a> / 
		<a href="/projects/edit/<%= project.url %>">Edit</a> / 		
		<%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New project', new_project_path %>



</div>
