<h1>New project</h1>

<% form_for(@project) do |f| %>
  <%= f.error_messages %>

  <p>Client: 
	<%= f.collection_select :client_id, Client.all, :id, :name %>
  </p>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p><br /><br />
  <p>
    <%= f.label :duedate %>
    <%= f.date_select :duedate %>
  </p>
<br /><br />
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
<div class="c"></div>
