<div id="project" rel="<%= @project.id %>">

	<h1><%=h @project.title %></h1>
	<p>Due: <%=h @project.duedate %></p>
	<p>Client: <%=h Client.find(@project.client_id).name %></p>






<div id="windows">
	<ul id="windows-tabs">
		<li id="tab-comments" class="selected"><a href="comments">Comments</a></li>
		<li id="tab-hours"><a href="hours">Hours</a></li>
	</ul>
	
		
		
	
	
	<div class="window-pane selected" id="comments">		

		<form method="post" action="">
		  <div id="content-rev"><a href="javascript:;">Rev: <%= @note.rev %></a></div>
		  <div class="text-container"><textarea id="content" name="content" rows="20" cols="40"><%= @note.content %></textarea></div>
		  <input type="submit" id="save" name="save" value="Save" class="submit" />
		  <div id="update-save-container"><span id="update-save"></span></div>
	  	</form>
		<div class="clear"></div>
	</div>
	
	
	<div class="window-pane" id="hours">		

		<form method="post" action="">
		  <div class="text-container"><textarea id="content" name="content" rows="20" cols="40"></textarea></div>
		  <input type="submit" id="save" name="save" value="Save" class="submit" />
	  	</form>
		<div class="clear"></div>
	</div>	
</div>	

</div>

</div>
<script type="text/javascript" src="/javascripts/project.js"></script>