<div id="project" rel="<%= @project.id %>">

	<h1><%=h @project.title %></h1>
	<p>Due: <%=h @project.duedate %></p>
	<p>Client: <%=h Client.find(@project.client_id).name %></p>






<div id="windows">
	<ul id="windows-tabs">
		<% @project.panels.each do |panel| %>
		<li id="tab-<%=panel.css_name%>" ><a href="<%=panel.css_name%>"><%=panel.title%></a></li>
		<% end %>
		
		<li><a id="add-panel" href="#">+</a></li>		
	</ul>
	
		
	<% @project.panels.each do |panel| %>
	
		<div class="window-pane panel" id="<%= panel.css_name %>">
		<form method="post" action="">
		  <div class="content-rev"><a href="javascript:;">Rev: <%= panel.notes.last.rev %></a></div>
		  <div class="text-container"><textarea class="content" name="content" rows="20" cols="40"><%= panel.notes.last.content %></textarea></div>
		  <input type="submit" name="save" value="Save" class="submit save" />
		  <div class="update-save-container"><span class="update-save"></span></div>
		</form>
		<div class="clear"></div>
		</div>

	<% end %>
	
	
	
</div>	

</div>

</div>
<script type="text/javascript" src="/javascripts/project.js"></script>