<p>
  <b>Title:</b>
  <%=h @project.title %>
</p>

<p>
  <b>Startdate:</b>
  <%=h @project.startdate %>
</p>

<p>
  <b>Duedate:</b>
  <%=h @project.duedate %>
</p>

<p>
  <b>Client:</b>
  <%=h @project.client_id %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>