<p>
  <b>Title:</b>
  <%=h @project.title %>
</p>

<p>
  <b>Startdate:</b>
  <%=h @project.startdate %>
</p>

<p>
  <b>Duedate:</b>
  <%=h @project.duedate %>
</p>

<p>
  <b>Client:</b>
  <%=h @project.client_id %>
</p>


		<form method="post" action="">
		  <div id="content-rev"><a href="javascript:;">Rev: <%=@note.rev%></a></div>
		  <div class="text-container"><textarea id="content" name="content" rows="20" cols="40"><%=@note.text%></textarea></div>
		  <input type="submit" id="save" name="save" value="Save" class="submit" />
	  </form>
	  <div class="clear"></div>
	  
	  <script type="text/javascript">
		  $('#save').click(function(e) {
		    Save();
		    e.preventDefault();
		    alert('Saved!');
		  });
</script>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>